<div id='about'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <p class='section-title'>Our Mission</p>
        <p class='section-content'>Welcome to the <%= "#{I18n.t(:project_name)}" %>. You are essential to our success! Our mission is to bring educators together in an engaged online community that inspires breakthrough ideas in teaching and learning. The <%= "#{I18n.t(:project_name)}" %> offers educators a place to share experiences, exchange ideas and refine new approaches to old problems. The <%= "#{I18n.t(:project_name)}" %> will help educators find a precise understanding about why things don’t work in K-12 education and respond quickly to find solutions.</p>

        <p class='section-title'>Our Solution</p>
        <p class='section-content'>The <%= "#{I18n.t(:project_name)}" %> is an open dialogue between those who often make the decisions and those who have to live with those decisions. Conversations will be guided by experienced educators.  Participants will focus on one theme, or “challenge,” at a time. Our first challenge is to help make videos for professional learning more relevant and useful to educators. All educators – from the classroom teacher to district superintendent – are invited to participate. The <%= "#{I18n.t(:project_name)}" %> community will determine the best ideas and pick subsequent challenges.</p>

        <p class='section-title'>Community Commitments</p>

        <p class='section-list-header'>DO:</p>
        <ul class='section-list'>
          <li><b>Be Nice.</b> We value diversity and encourage lively debate. We want people to feel safe and welcome posting here. Please be polite and respectful in your interactions. By posting, you are agreeing to abide by the <%= "#{I18n.t(:project_name)}" %> user agreement.</li>
          <li><b>Be Relevant.</b> Please keep your posts on topic. When you introduce a new topic, please create a new post.  Use headlines to help others find your content later on.</li>
          <li><b>Seek advice & share solutions.</b> Strive to shed more light than heat on a subject.</li>
          <li><b>Share your expertise!</b> Aim to post content that is informative, educational or encourages discussion.</li>
          <li><b>Be yourself.</b> You don’t need to share your real name but you should not be impersonating anyone.</li>
        </ul>

        <p class='section-list-header'>DON'T:</p>
        <ul class='section-list'>
          <li>Post content that is confidential, defamatory, misleading or deceptive, offensive, abusive, harassing, threatening, designed to intimidate or bully, or that infringes copyright or contains hate speech.</li>
          <li>Engage in commercial activity. Please do not use this site to promote the-sale of goods or services.</li>
          <li>Use all CAPS in comments. Caps might be construed as yelling, which isn't nice.  Be careful with bolding or underlining – it can sometimes feel aggressive.</li>
        </ul>

        <blockquote class='quote'><p class='text-center'>Engaging in any of the “don’t” behaviors may result in the removal of your contributions, the loss of posting privileges, or the deletion of your account.</p></blockquote>

      </div>
    </div>
  </div>
</div>