<%= form_for(comment, url: url) do |f| %>
  <%= f.hidden_field :temporal_parent_id, 'ng-value' => 'temporal_parent_id' %>
  <%= f.hidden_field :commentable_type %>
  <%= f.hidden_field :commentable_id %>

  <div class="form-group">
    <%= f.text_area :body, class: 'form-control', rows: 3, placeholder: "What do you think about this #{comment.commentable.class.to_s.downcase}? Suggest an improvement, explain how you think this #{comment.commentable.class.to_s.downcase} could be implemented, or provide other feedback." %>
  </div>

  <div class='row'>

    <div class='col-sm-8'>
      <div class='input-switch' ng-switch='comment_<%= comment.id %>_link' ng-init='comment_<%= comment.id %>_link=<%= comment.link.present? %>'>
        <div ng-hide='comment_<%= comment.id %>_link' ng-click="comment_<%= comment.id %>_link=true" class='media'>
          <div class='media-left'>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x"></i>
            </span>
          </div>
          <div class='media-body'>
            <span class='help-text'>Add a link to a video, article, image or other support</span>
          </div>
        </div>

        <div ng-show='comment_<%= comment.id %>_link' class='form-group'>
          <%= f.text_field :link, placeholder: 'Add URL', class: 'form-control' %>
          <span class='help-block'>Share a link, image, video, or Tweet– we'll display it alongside your comment.</span>
        </div>
      </div>
    </div>

    <div class='col-sm-2 col-xs-6'>
      <%= link_to 'Cancel', '#', class: 'btn btn-rounded btn-block btn-default', "ng-click" => cancel_path, onclick: 'return false;' if cancel_path %>
    </div>

    <div class='col-sm-2 col-xs-6'>
      <%= f.submit submit_text, class: 'btn btn-rounded btn-block btn-submit' %>
    </div>

  </div>
<% end %>