<div class='comment-header'>
  <div class="media media-commenter pull-left">
    <p class="timestamp"><%= "#{time_ago_in_words(comment.created_at).titleize} Ago" %></p>
    <div class="media-left">
      <%= render partial: 'shared/avatar', locals: { user: comment.user, avatar_style: 'width:2.25em' } %>
    </div>
    <div class="media-body" style='<%= 'padding-left: 0em' if comment.user.avatar.present? %>'>
      <div class='user-caption' style='<%= 'margin-top: 0em' if comment.user.avatar.present? %>'>
        <p class='user-name'><%= link_to "#{comment.user.display_name}", user_path(comment.user) %></p>
        <p class='user-title'><%= comment.user.display_organization %></p>
      </div>
    </div>
  </div>

  <div class='clearfix'></div>
</div>

<div class='comment-content'>
  <% if comment.embed.present? %>
    <div class="row">
      <div class="col-sm-4">
        <%= comment.embed.html_safe %>
      </div>
      <div class="col-sm-8">
        <p class='comment-text'><%= comment.body %></p>
      </div>
    </div>
  <% else %>
    <p class='comment-text'><%= comment.body %></p>
    <% unless comment.link.blank? %>
      <p class='comment-link'><b><i class='fa fa-link'></i> Link:</b> <%= link_to truncate(comment.link, length: 150), comment.link, target: '_blank' %></p>
    <% end %>
  <% end %>
</div>

<div class="comment-actions" data-comment-id="<%= comment.id %>">
  <ul class="list-inline">
    <li id="comment-<%= comment.id %>-reply">
      <a href="#<%= "#{comment.commentable.class.to_s.downcase}-#{comment.commentable.id}-new-comment" %>" du-smooth-scroll ng-click="temporal_parent_id=<%= comment.id %>"><i class="fa fa-reply"></i>  <span class='text-bolder'>Reply</span></a>
    </li>

    <li id="comment-<%= comment.id %>-like">
      <%= render partial: 'comments/card/like', locals: { comment: comment } %>
    </li>

    <li class="dropdown">
      <a id="comment-<%= comment.id %>-other" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" style='right: 0; left: auto;'>
        <i class="fa fa-ellipsis-h"></i>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="comment-<%= comment.id %>-other">
        <% if user_signed_in? && comment.user == current_user %>
          <li class='dropdown-link'><%= link_to 'Edit', '#', 'ng-click' => "comment_#{comment.id}_edit=true", onclick: 'return false;' %></li>
          <li class='dropdown-link'><%= link_to 'Delete', comment_path(comment.id), method: :delete, data: { confirm: "Are you sure you want to delete your comment?"} %></li>
        <% else %>
          <li class='dropdown-link'><%= link_to 'Flag', '#' %></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>