<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="thumbnail idea-example-thumbnail">

      <div class="form-group">
        <div style='margin:12px' class="label label-default"><%= t('ideas._example.header') %></div>
      </div>

      <div class="form-group example-popover" data-toggle='popover' data-trigger='manual' data-placement='right' html='true' data-content='<%= t('ideas._example.title_popover') %>' data-container='.example-switch'>
        <p class="example-idea-title"><%= t('ideas._example.title') %></p>
      </div>

      <div class="form-group example-popover" data-toggle='popover' data-trigger='manual' data-placement='right' html='true' data-content='<%= t('ideas._example.potential_impact_popover') %>' data-container='.example-switch'>
        <p class="example-idea-description">
          <%= t('ideas._example.body') %>
        </p>

        <%= label_tag t('ideas._example.potential_impact') %>
        <p class="example-idea-description">
          <%= t('ideas._example.potential_impact_body') %>
        </p>

        <%= label_tag t('ideas._example.possible_implementation') %>
        <p class="example-idea-description">
          <%= t('ideas._example.possible_implementation_body') %>
        </p>
      </div>

      <div class="form-group example-popover" data-toggle='popover' data-trigger='manual' data-placement='right' html='true' data-content='<%= t('ideas._example.link_description') %>' data-container='.example-switch'>
        <%= label_tag t('ideas._example.link') %>
        <p class="example-idea-description"></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-8">
        <%= link_to t('ideas._example.go_back'), '#', class: 'btn btn-default btn-rounded btn-block pull-right', 'ng-click' => 'showForm()', onclick: 'return false;' %>
      </div>
    </div>
  </div>
</div>