<%= form_for(@idea, url: url) do |f| %>
  <%= f.hidden_field :problem_statement_id %>
  <%= f.hidden_field :published, value: nil, 'ng-value' => 'published' %>

  <div class='row'>
    <div class='col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3'>
      <div class="thumbnail idea-form-thumbnail">
        
        <% if @idea.refinement_parent %>
          <div ng-init="refinement_parent_id=<%= @idea.refinement_parent_id %>"></div>
          <div id='idea_refinement' class='form-group' ng-show='refinement_parent_id'>
            <%= f.hidden_field :refinement_parent_id, 'ng-value' => 'refinement_parent_id' %>
            <i class='fa fa-close' ng-click="refinement_parent_id=null"></i> 
            <span class='idea-refinement'><%= t('ideas._form.refinement') %><%= link_to @idea.refinement_parent.title.html_safe, '#', 'ng-click' => 'showRefinement()', onclick: 'return false;' %></span>
          </div>
          <div class='clearfix'></div>
        <% end %>

        <%= render partial: 'layouts/error_messages', locals: { model: @idea } %>
        
        <div class='form-group'>
          <%= f.text_field :title, placeholder: t('ideas._form.title_placeholder'), autofocus: true, class: 'form-control input-lg' %>
        </div>

        <div class='form-group'>
          <%= f.text_area :description, placeholder: t('ideas._form.description_placeholder'), class: 'form-control', rows: 5 %>
        </div>

        <div class='input-switch' ng-switch='idea_impact' ng-init='idea_impact=<%= @idea.impact.present? %>'>
          <div ng-hide='idea_impact' ng-click="idea_impact=true" class='media'>
            <div class='media-left'>
              <span class="fa-stack">
                <i class="fa fa-stack-2x fa-circle-thin"></i>
                <i class="fa fa-stack-1x fa-plus"></i>
              </span>
            </div>
            <div class='media-body'>
              <span class='help-text'><%= t('ideas._form.potential_impact_help') %></span>
            </div>
          </div>

          <div ng-show='idea_impact' class='form-group'>
            <%= f.label :impact, t('ideas._form.impact_label') %>
            <%= f.text_area :impact, placeholder: t('ideas._form.impact_placeholder'), class: 'form-control', rows: 3 %>
          </div>
        </div>

        <div class='input-switch' ng-switch='idea_implementation' ng-init='idea_implementation=<%= @idea.implementation.present? %>'>
          <div ng-hide='idea_implementation' ng-click="idea_implementation=true" class='media'>
            <div class='media-left'>
              <span class="fa-stack">
                <i class="fa fa-stack-2x fa-circle-thin"></i>
                <i class="fa fa-stack-1x fa-plus"></i>
              </span>
            </div>
            <div class='media-body'>
              <span class='help-text'><%= t('ideas._form.body_help') %></span>
            </div>
          </div>

          <div ng-show='idea_implementation' class='form-group'>
            <%= f.label :implementation, t('ideas._form.implementation_label') %>
            <%= f.text_area :implementation, placeholder: t('ideas._form.implementation_placeholder'), class: 'form-control', rows: 3 %>
          </div>
        </div>

        <div class='input-switch' ng-switch='idea_link' ng-init='idea_link=<%= @idea.link.present? %>'>
          <div ng-hide='idea_link' ng-click="idea_link=true" class='media'>
            <div class='media-left'>
              <span class="fa-stack">
                <i class="fa fa-stack-2x fa-circle-thin"></i>
                <i class="fa fa-stack-1x fa-plus"></i>
              </span>
            </div>
            <div class='media-body'>
              <span class='help-text'><%= t('ideas._form.link_placeholder') %></span>
            </div>
          </div>

          <div ng-show='idea_link' class='form-group'>
            <%= f.text_field :link, placeholder: t('ideas._form.url'), class: 'form-control' %>
            <span class='help-block'><%= t('ideas._form.link_description') %></span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class='row' ng-init="published=<%= @idea.published_at? %>">
    <div class='col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3'>

      <div class='row'>
        <div class='col-xs-4'>
          <%= f.submit t('ideas._form.save'), class: 'submit-link pull-right', 'ng-click' => 'published=false', 'ng-hide' => 'published', style: 'margin-top: 0.5em' %>
        </div>
        <div class='col-xs-4'>
          <%= link_to t('ideas._form.cancel'), cancel_path, data: { confirm: t('ideas._form.confirm') }, class: 'btn btn-rounded btn-block btn-default' %>
        </div>
        <div class='col-xs-4'>
          <%= f.submit submit_text, class: 'btn btn-rounded btn-block btn-info pull-right', 'ng-click' => 'published=true' %>
        </div>
      </div>
    </div>
  </div>
<% end %>