
<%= render partial: 'challenges/header', cache: true %>

<div id="approach_stage-overview">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">

        <div class="row">
          <div class="col-sm-9">
            <h1 class='text-approach'><%= @challenge.stage_number > 3 ? "#{t('approach_stages.show.title')}" : @approach_stage.title.html_safe %></h1>

            <p class='text-large'><%=  @challenge.stage_number > 3 ? "#{t('approach_stages.show.description')}" : @approach_stage.description.html_safe %></p>

            <%= link_to "<i class='fa fa-twitter'></i>  ##{@challenge.hashtag.html_safe}".html_safe, "https://twitter.com/hashtag/#{@challenge.hashtag.html_safe}", target: '_blank', class: 'text-default text-large text-normal' %>
          </div>
          <div class="col-sm-3">
            <p class='text-bold text-approach text-center'><%= @approach_stage.incentive.html_safe if @approach_stage.incentive.present? %></p>
            <i class="fa fa-flask hidden-xs text-left"></i>
          </div>
        </div>

        <% unless @featured_approaches.count.zero? %>
          <div class="featured-contributors">
            <h6 class='zero-margin-bottom'><%= t '.contributors' %></h6>
            <% @featured_approaches.each do |featured_entity_container| %>
              <%= link_to challenge_approach_stage_approach_idea_approach_path(@challenge, @approach_stage, featured_entity_container.featured.approach_idea, featured_entity_container.featured), title: featured_entity_container.reason do %>
                <%= render partial: 'shared/avatar', locals: { user:  featured_entity_container.featured.user, circle_font_size: '1.8em', inverse_font_size: '0.76em', avatar_style: 'width:2em;margin-right:0.5em' } %>
              <% end %>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div id='approach_stage-navigation' data-spy="affix" data-offset-top="375" class="affix-top">
  <div class='container'>

    <div class='row'>
      <% @approach_ideas.each do |approach_idea| %>
        <div class="col-sm-4 nav-link" href="<%= "#approach_idea-#{approach_idea.id}" %>" du-smooth-scroll du-scrollspy offset="100">
          <%= approach_idea.title.html_safe %>
          <p class="theme-cta">
            <% if approach_idea.approaches.published.count.zero? %>
              <i class='fa fa-plus' style='margin-left:-50px'></i> <%= t '.add_first' %>
            <% else %>
              <i class='fa fa-flask'></i> <%= approach_idea.approaches.published.count %>
            <% end %>
          </p>

          <i class='fa fa-3x fa-play fa-rotate-90'></i>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="approach_stage-content" ng-controller="ApproachStageCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <% @approach_ideas.each do |approach_idea| %>
          <div id='approach_idea-<%= approach_idea.id %>' class='content-block-xl'>
            <h6 class='text-center'><%= t '.section_title' %></h6>
            <h2 class='section-title text-approach'><%= approach_idea.title %></h2>
            
            <div class='row'>
              <div class='col-md-8 col-md-offset-2'>
                <p><%= approach_idea.description %></p>
              </div>
            </div>

            <% unless @challenge.stage_number > 3 %>
              <div class='row' style='margin-top: 20px;margin-bottom: 40px'>
                <div class='col-sm-4 col-sm-offset-1'>
                  <p class='text-center text-medium'><%= t '.question_1' %></p>
                  <%= link_to "#{t('approach_stages.show.share')}".html_safe, new_challenge_approach_stage_approach_idea_approach_path(@challenge, @approach_stage, approach_idea), class: 'btn btn-fa btn-block btn-lg btn-info btn-rounded' %>
                </div>
                <div class='col-sm-4 col-sm-offset-2'>
                  <p class='text-center text-medium'><%= t '.question_2' %></p>
                  <%= link_to "#{t('approach_stages.show.join')}".html_safe, challenge_approach_stage_approach_idea_path(@challenge, @approach_stage, approach_idea, anchor: "approach_idea-comments"), class: 'btn btn-fa btn-block btn-lg btn-info btn-rounded' %>
                  <div class='text-center center-block' style='margin-top: 5px'><%= link_to "#{t('approach_stages.show.comment_expand', :count => approach_idea.comment_threads.count)}".html_safe, challenge_approach_stage_approach_idea_path(@challenge, @approach_stage, approach_idea, anchor: "approach_idea-comments") unless approach_idea.comment_threads.count.zero? %></div>
                </div>
              </div>
            <% end %>

            <div class='row row-count'>
              <div class='col-xs-3'>
                <ul class='action text-left text-small list-inline'>
                  <!-- <li><a>Popular</a></li>
                  <li><a>Latest</a></li> -->
                </ul>
              </div>
              <div class='col-xs-6'>
                <h6 class='text-center center-block'>
                  <i class='fa fa-flask fa-3x'></i><br>
                  <span><%= pluralize(approach_idea.approaches.published.count, "#{t('approach_stages.show.stage_name')}") %></span>
                </h6>
              </div>
              <div class='col-xs-3'>
                <% unless @challenge.stage_number > 3 %>
                  <p class='action text-right text-small'><%= link_to "#{t('approach_stages.show.add_new')}", new_challenge_approach_stage_approach_idea_approach_path(@challenge, @approach_stage, approach_idea), class: 'pull-right' %></p>
                <% end %>
              </div>
            </div>

            <div ng-switch='approach_idea_<%= approach_idea.id %>_approaches' ng-init='approach_idea_<%= approach_idea.id %>_approaches=show_all'>
              
              <% approach_idea.approaches.published.first(2).each do |approach| %>
                <%= render file: 'approaches/card', cache: true, locals: { approach: approach } %>
              <% end %>

              <% if approach_idea.approaches.published.count > 2 %>
                <div ng-show='approach_idea_<%= approach_idea.id %>_approaches'>
                  <% (approach_idea.approaches.published - approach_idea.approaches.published.first(2)).each do |approach| %>
                    <%= render file: 'approaches/card', cache: true, locals: { approach: approach } %>
                  <% end %>
                </div>
              <% end %>

              <%= render partial: 'approaches/card/new', cache: true, locals: { approach_idea: approach_idea } unless @challenge.stage_number > 3 %>

              <% if approach_idea.approaches.published.count > 2 %>
                <p class='center-block text-center'>
                  <%= link_to "#{t('approach_stages.show.show_more', :count => approach_idea.approaches.published.count-2)}", '#', "ng-hide" => "approach_idea_#{approach_idea.id}_approaches", "ng-click" => "approach_idea_#{approach_idea.id}_approaches=true", onclick: 'return false;', class: 'text-bold' %>

                  <%= link_to "#{t('approach_stages.show.show_less')}", "#approach_idea-#{approach_idea.id}", "ng-show" => "approach_idea_#{approach_idea.id}_approaches", "ng-click" => "approach_idea_#{approach_idea.id}_approaches=false", "du-smooth-scroll" => true, offset: '100', onclick: 'return false;', class: 'text-bold' %>
                </p>
              <% end %>

              <% if @challenge.stage_number > 3 %>
                <div class='text-center center-block' style='margin-top: 5px'><%= link_to "#{t('approach_stages.show.discussion_expand', :count => approach_idea.comment_threads.count)}".html_safe, challenge_approach_stage_approach_idea_path(@challenge, @approach_stage, approach_idea, anchor: "approach_idea-comments") unless approach_idea.comment_threads.count.zero? %></div>
              <% end %>
            </div>
          </div>
        <% end %>

        <h2 class='section-title text-submit'><%= t '.social_sharing_question' %></h2>
        <p class='section-description'><%= t '.social_sharing_description' %></p>
        
        <%= render partial: 'layouts/share_links', locals: { url: challenge_approach_stage_url(@challenge, @approach_stage), title: @challenge.title.html_safe, description: @challenge.description.html_safe, hashtag: @challenge.hashtag } %>

      </div>
    </div>
  </div>
</div>