<%= form_for(experience, url: url) do |f| %>
  <%= f.hidden_field :theme_id, value: theme.id %>
  <%= f.hidden_field :published, value: nil, 'ng-value' => "theme_#{theme.id}_experience_#{experience.id}_published" %>

  <div class='form-group'>
    <%= f.text_area :description, placeholder: "#{t('experiences.card._form.description_placeholder')}", class: 'form-control', autofocus: true, rows: 4 %>
  </div>

  <div class='row'>
    <div class='col-sm-8'>
      <%= f.text_field :link, placeholder: "#{t('experiences.card._form.link_placeholder')}", class: 'form-control' %>
      <span class='help-block' style='margin-bottom:0px'><%= t('experiences.card._form.link_description') %></span>
    </div>

    <div class='col-sm-4' ng-init="theme_<%= theme.id %>_experience_<%= experience.id %>_published=<%= experience.published_at? %>">
      <div class='row'>
        <div class='col-xs-6'>
          <%= link_to "#{t('experiences.card._form.cancel')}", '#', class: 'btn btn-rounded btn-block btn-sm btn-default', 'ng-click' => cancel_path, onclick: 'return false;' %>
        </div>

        <div class='col-xs-6'>
          <%= f.submit submit_text, class: 'btn btn-rounded btn-block btn-sm btn-info', 'ng-click' => "theme_#{theme.id}_experience_#{experience.id}_published=true" %>
        </div>
      </div>

      <%= f.submit "#{t('experiences.card._form.save')}", class: 'submit-link pull-right', style: 'margin-top: 0.5em', 'ng-click' => "theme_#{theme.id}_experience_#{experience.id}_published=false", 'ng-hide' => "theme_#{theme.id}_experience_#{experience.id}_published" %>
    </div>
  </div>
<% end %>