<% if user_signed_in? && current_user.liked?(experience, {vote_scope: experience.default_like[:scope]}) %>
  <%= link_to unlike_challenge_experience_stage_theme_experience_path(@challenge, experience.experience_stage, experience.theme, experience, partial: "card/like"), class: 'list-link', method: :put, remote: true do %>
    <i class='<%= experience.default_like[:liked][:icon] %>'></i> 
    <span class='hidden-xs'><%= experience.default_like[:liked][:name] %></span>
    <%= "(#{experience.cached_votes_up})" unless experience.cached_votes_up.zero? %>
  <% end %>
<% else %>
  <%= link_to like_challenge_experience_stage_theme_experience_path(@challenge, experience.experience_stage, experience.theme, experience, partial: "card/like"), class: 'list-link', method: :put, remote: user_signed_in? do %>
    <i class='<%= experience.default_like[:unliked][:icon] %>'></i> 
    <span class='hidden-xs'><%= experience.default_like[:unliked][:name] %></span>
    <%= "(#{experience.cached_votes_up})" unless experience.cached_votes_up.zero? %>
  <% end %>
<% end %>