  <div class='experience-content'>
    <% if experience.embed.present? %>
      <div class='row'>
        <div class='col-sm-6'>
          <p class='text-bold'><%= experience.description %></p>
        </div>
        <div class='col-sm-6'>
          <%= experience.embed.html_safe %>
        </div>
      </div>
    <% else %>
      <p class='text-bold'><%= experience.description %></p>
      <% unless experience.link.blank? %>
        <p class='text-bold'><b><i class='fa fa-link'></i> <%= t('experiences.card._show.link') %></b> <%= link_to truncate(experience.link, length: 150), experience.link, target: '_blank' %></p>
      <% end %>
    <% end %>
  </div>

  <div class='experience-actions'>
    <ul class='actions list-inline'>
      <li id="experience-<%= experience.id %>-like">
        <%= render partial: 'experiences/card/like', locals: { challenge: @challenge, experience_stage: experience.experience_stage, experience: experience }%>
      </li>

      <li id='experience-<%= experience.id %>-comments'>
        <%= link_to "<i class='fa fa-comments-o'></i> #{experience.comment_threads.present? ? "#{experience.comment_threads.count}" : ''}".html_safe, '#', 'ng-click' => "experience_#{experience.id}_discussion=!experience_#{experience.id}_discussion", onclick: 'return false;', class: 'list-link' %>
      </li>

      <!-- <li id='experience-<%#= experience.id %>-share'> -->
        <%#= link_to 'Share', '#', class: 'list-link', onclick: 'return false;', data: { container: 'body', toggle: 'popover', placement: 'bottom', html: true, trigger: 'focus', delay: {'hide': 1000}, content: "#{render partial: 'layouts/share_popover', locals: { url: challenge_experience_stage_theme_experience_url(@challenge, experience.experience_stage, experience.theme, experience), title: @challenge.title.html_safe, description: experience.description.html_safe, hashtag: @challenge.hashtag }}"} %>
      <!-- </li> -->

      <li class='dropdown'>
        <a id="experience-<%= experience.id %>-other" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" style='right: 0; left: auto;'>
          <i class='fa fa-ellipsis-h'></i>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="experience-<%= experience.id %>-other">
          <% if user_signed_in? && experience.user == current_user %>
            <li><%= link_to "#{t('experiences.card._show.edit')}", '#', 'ng-click' => "experience_#{experience.id}_edit=true", onclick: 'return false;' %></li>
            <li><%= link_to "#{t('experiences.card._show.delete')}", challenge_experience_stage_theme_experience_path(@challenge, experience.experience_stage, experience.theme, experience.id), method: :delete, data: { confirm: "#{t('experiences.card._show.confirm')}"} %></li>
          <% else %>
            <li role="presentation"><%= link_to "#{t('experiences.card._show.flag')}", '#' %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>