<%= render partial: 'challenges/header', cache: true %>

<div id='recipe-form'>
  <div class='container'>

    <%= link_to "<i class='fa fa-close fa-2x'></i>".html_safe, challenge_recipe_stage_cookbook_recipe_path(@challenge, @recipe.recipe_stage, @recipe.cookbook, @recipe), data: { confirm: t('recipes.edit.confirm') } %>
    <div class='clearfix'></div>

    <%= render partial: 'recipes/header' %>

    <div class='row'>
      <div class='col-xs-10 col-xs-offset-1'>

        <div class="panel panel-recipe">
          <div class="panel-heading">
            <p class="panel-title"><%= t('recipes.edit.title') %></p>
          </div>
          <div class="panel-body">
            <%= render partial: 'recipes/form', locals: { url: challenge_recipe_stage_cookbook_recipe_path, cancel_path: challenge_recipe_stage_cookbook_recipe_path(@challenge, @recipe.recipe_stage, @recipe.cookbook, @recipe), submit_text: t('recipes.edit.submit') } %>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>