<div class="row" style='margin-bottom: 15px'>
  <div class='col-sm-10'>
    <h3 class="suggestion-title text-black">
      <%= suggestion.title %>
      <% if user_signed_in? && suggestion.user == current_user %>
        <small style='margin-left:10px'>
          <%= link_to "<i class='fa fa-edit'></i>".html_safe, '#', 'ng-click' => "suggestion_#{suggestion.id}_edit=true", onclick: 'return false;', class: 'list-link' %> 
          &nbsp; &bull; &nbsp;
          <%= link_to "<i class='fa fa-trash'></i>".html_safe, suggestion_path(suggestion.id), method: :delete, data: { confirm: "Are you sure you want to delete your suggestion?"}, class: 'list-link' %>
        </small>
      <% end %>
    </h3>
  </div>

  <div class='col-sm-2'>
    <p class='suggestion-time'><%= "#{time_ago_in_words(suggestion.created_at)} ago" %></p>
  </div>
</div>

<div class='suggestion-content'>
  <% if suggestion.embed.present? %>
    <div class='row'>
      <div class='col-sm-4'>
        <%= suggestion.embed.html_safe %>
      </div>
      <div class='col-sm-8'>
        <p class='suggestion-description'><%= suggestion.description %></p>
      </div>
    </div>
  <% else %>
    <p class='suggestion-description'><%= suggestion.description %></p>
    <% unless suggestion.link.blank? %>
      <p class='suggestion-link'><b><i class='fa fa-link'></i> Link:</b> <%= link_to truncate(suggestion.link, length: 150), suggestion.link, target: '_blank' %></p>
    <% end %>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-4">
    <p class='suggestion-user text-left'>How much does this impact you?</p>
  </div>

  <div class="col-sm-5">
    <ul id='suggestion-<%= suggestion.id %>-vote' class='vote'>
      <%= render partial: 'suggestions/card/vote', locals: { suggestion: suggestion } %>
    </ul>
  </div>

  <div class="col-sm-3">
    <p class='suggestion-user text-right'><%= suggestion.user.initials %>, <%= suggestion.user.display_organization %></p>
  </div>
</div>