<div id="user-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

        <% if @user.avatar.present? %>
          <%= image_tag(@user.avatar.profile.url, class: 'img-circle') %>
        <% else %>
          <span class="fa-stack fa-user-avatar">
            <i class="fa fa-stack-2x fa-circle" style='color:<%= @user.color %>'></i>
            <i class="fa fa-stack-1x fa-inverse"><%= @user.initials %></i>
          </span>
        <% end %>

        <div class="user-caption">
          <p class="user-name"><%= @user.display_name %></p>
          <p class="user-title"><%= @user.display_organization %></p>
          <p class="text-small"><%= @user.bio.html_safe if @user.bio.present? %></p>
        </div>

        <% if user_signed_in? && current_user == @user %>
          <ul class="nav nav-tabs nav-justified">
            <li role="presentation"><%= link_to t('users._header.edit'), edit_user_registration_path(setting: 'profile') %></li>
            <li role="presentation"><%= link_to t('users._header.settings'), edit_user_registration_path(setting: 'account') %></li>
            <li role="presentation" class="active"><%= link_to t('users._header.activity'), user_path(current_user) %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
