<div id='about'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-7 col-md-offset-4'>
        <h2 id='mission' class='text-submit'><%= t('about.our_mission') %></h2>
        <p class='text-large'><%= t('about.welcome', platform: t(:project_name)) %></p>
        <h2 id='solution' class='text-submit'><%= t('about.our_solution') %></h2>
        <p class='text-large'><%= t('about.solution', platform: t(:project_name)) %></p>
        <h2 id='guidelines' class='text-submit'><%= t('about.community_guidelines.header') %></h2>
        <h4 class='text-submit'><%= t('about.community_guidelines.do') %></h4>
        <ul class='section-list'>
          <li>
            <b><%= t('about.community_guidelines.be_nice') %></b>
            <%= t('about.community_guidelines.be_nice_explanation', platform: t(:project_name)) %>
          </li>
          <li>
            <b><%= t('about.community_guidelines.be_relevant') %></b>
            <%= t('about.community_guidelines.be_relevant_explanation') %>
          </li>
          <li>
            <b><%= t('about.community_guidelines.seek_advice') %></b>
            <%= t('about.community_guidelines.seek_advice_explanation') %></li>
          <li>
            <b><%= t('about.community_guidelines.share_expertise') %></b>
            <%= t('about.community_guidelines.share_expertise_explanation') %>
          </li>
          <li>
            <b><%= t('about.community_guidelines.be_yourself') %></b>
            <%= t('about.community_guidelines.be_yourself_explanation') %>
          </li>
        </ul>

        <h4 class='text-submit'><%= t('about.community_guidelines.dont') %></h4>
        <ul class='section-list'>
          <li><%= t('about.community_guidelines.unacceptable_content') %></li>
          <li><%= t('about.community_guidelines.commercial_activity') %></li>
          <li><%= t('about.community_guidelines.use_all_caps') %></li>
        </ul>
        <p class='text-large text-underline'><%= t('about.community_guidelines.violation_warning') %></p>
      </div>
    </div>
  </div>
</div>