<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-4">
        <h2 id="mission" class="text-submit"><%= t('.our_mission') %></h2>
        <p class="text-large"><%= t('.welcome', platform: t(:project_name)) %></p>
        <h2 id="solution" class="text-submit"><%= t('.our_solution') %></h2>
        <p class="text-large"><%= t('.solution', platform: t(:project_name)) %></p>
        <h2 id="guidelines" class="text-submit"><%= t('.community_guidelines') %></h2>
        <h4 class="text-submit"><%= t('.do') %></h4>
        <ul class="section-list">
          <li>
            <b><%= t('.be_nice') %></b>
            <%= t('.be_nice_explanation', platform: t(:project_name)) %>
          </li>
          <li>
            <b><%= t('.be_relevant') %></b>
            <%= t('.be_relevant_explanation') %>
          </li>
          <li>
            <b><%= t('.seek_advice') %></b>
            <%= t('.seek_advice_explanation') %></li>
          <li>
            <b><%= t('.share_expertise') %></b>
            <%= t('.share_expertise_explanation') %>
          </li>
          <li>
            <b><%= t('.be_yourself') %></b>
            <%= t('.be_yourself_explanation') %>
          </li>
        </ul>

        <h4 class="text-submit"><%= t('.dont') %></h4>
        <ul class="section-list">
          <li><%= t('.unacceptable_content') %></li>
          <li><%= t('.commercial_activity') %></li>
          <li><%= t('.use_all_caps') %></li>
        </ul>
        <p class="text-large text-underline"><%= t('.violation_warning') %></p>
      </div>
    </div>
  </div>
</div>