<div id='landing-splash'>
  <div class='opacity-layer'>
    <div class='opacity-content'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-10 col-md-offset-1'>
            <h1 class='text-white'><%= t('home.join', platform: t(:project_name)) %><br>
              <small class='text-white'><%= t('home.make_ideas_real') %></small>
            </h1>
            <div class='row'>
              <div class='col-md-4'>
                <% if user_signed_in? %>
                    <% if @featured %>
                        <%= link_to t('home.return_to_challenge'), challenge_active_stage_path(@featured), class: 'btn btn-lg btn-rounded btn-info half-margin-bottom' %>
                    <% else %>
                        <%= link_to t('home.learn_more'), about_path, class: 'btn btn-lg btn-rounded btn-longer btn-info half-margin-bottom' %>
                    <% end %>
                <% else %>
                    <% if @featured %>
                        <%= link_to t('home.see_featured_challenge'), challenge_path(@featured), class: 'btn btn-lg btn-rounded btn-info half-margin-bottom' %>
                    <% else %>
                        <%= link_to t('home.learn_more'), about_path, class: 'btn btn-lg btn-rounded btn-longer btn-info half-margin-bottom' %>
                    <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='landing-challenge'>
  <div class="container">
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>
        <div class='row'>
          <div class='col-sm-7'>
            <h1 id='headline'>
              <%= t('home.welcome', platform: t(:project_name)) %>
            </h1>
            <%= link_to t('home.explore'), challenge_path(@featured), class: 'btn btn-info btn-rounded text-small' if @featured %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='landing-what'>
  <div class="container">
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>
        <h2 class="text-center"><%= t('home.what', platform: t(:project_name)) %></h2>
        <div class="row" style='margin-bottom:15px'>
          <div class='col-sm-10 col-sm-offset-1'>
            <p class='section-description'><%= t('home.description', platform: t(:project_name)) %></p>
          </div>
        </div>
        <div id='process-stages'>
          <h2 class="section-title"><%= t('home.challenge_phases_header') %></h2>
          <div class='row row-process'>
            <% Challenge::STAGES.each_with_index do |stage, index| %>
                <div class="col-xs-6 col-sm-3" style='margin-bottom:15px'>
                <span class="fa-stack challenge-fa-bubble text-<%= stage[:name] %>">
                  <i class="fa fa-stack-2x fa-circle"></i>
                  <i class="fa fa-stack-1x fa-inverse <%= stage[:icon] %>"></i>
                </span>
                  <%= content_tag(:i, '', class: 'fa fa-play', style: ('color: transparent' if stage[:name] == 'solution')) %>
                  <div class='clearfix'></div>
                  <div class="caption">
                    <h4><%= "#{index+1}. #{stage[:headline]}" %></h4>
                    <p class='description'><%= stage[:description] %></p>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='landing-challenge'>
  <div class="container">
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>
        <div class='row'>
          <div class='col-sm-7'>
            <h2 class='text-green' style='font-size:2.25em'><%= t('home.featured_challenge.header') %></h2>
            <h2 class='half-margin-bottom'>
              <%= t('home.featured_challenge.title', id: @featured.id, title: @featured.title) %>
            </h2>
            <p class='text-large'><%= t('home.share_experience') %></p>
            <div class='break'></div>
            <% if user_signed_in? %>
                <% if @featured %>
                    <%= link_to challenge_path(@featured) do %>
                        <h4 class='half-margin-bottom'>
                          <%= t('home.learn_more_and_participate') %>
                          <small class='text-link'><i class='fa fa-chevron-right'></i></small>
                        </h4>
                    <% end %>
                <% end %>
            <% else %>
                <% if @featured %>
                    <%= link_to challenge_path(@featured) do %>
                        <h4 class='half-margin-bottom'>
                          <%= t('home.learn_more_and_participate') %>
                          <small class='text-link'><i class='fa fa-chevron-right'></i></small>
                        </h4>
                    <% end %>
                <% else %>
                    <%= link_to new_user_registration_path do %>
                        <h4 class='half-margin-bottom'>
                          <%= t('home.register_today_to_participate') %>
                          <small class='text-link'><i class='fa fa-chevron-right'></i></small>
                        </h4>
                    <% end %>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="landing-suggest">
  <div class="container">
    <div class="row">
      <div class='col-md-10 col-md-offset-1'>

        <p class="section-title"><%= t('home.cta_tackle_header') %></p>
        <div class="row" style='margin-bottom: 15px'>
          <div class='col-sm-10 col-sm-offset-1'>
            <p class='section-description'><%= link_to "<i class='fa fa-twitter'></i> #{t(:project_hashtag)}".html_safe, "https://twitter.com/#{t(:project_name)}", target: '_blank' %></p>
            <p class='section-description'><%= t('home.cta_tackle') %></p>
          </div>
        </div>

        <h4 class="text-bold pull-left"><%= pluralize(@suggestions.count, t('home.suggestions')) %></h4>
        <%= link_to(t('home.add_suggestion'), '#new-suggestion', class: 'pull-right', 'ng-click' => 'suggestion_draft=true', 'du-smooth-scroll' => true) unless @suggestions.count.zero? %>
        <div class='clearfix'></div>

        <div ng-switch="suggestions" ng-init="suggestions=show_all">
          <% @suggestions.first(2).each do |suggestion| %>
              <%= render file: 'suggestions/card', cache: true, locals: {suggestion: suggestion} %>
          <% end %>

          <% if @suggestions.count > 2 %>
              <div ng-show='suggestions'>
                <% (@suggestions - @suggestions.first(2)).each do |suggestion| %>
                    <%= render file: 'suggestions/card', cache: true, locals: {suggestion: suggestion} %>
                <% end %>
              </div>
          <% end %>

          <%= render partial: 'suggestions/card/new', cache: true %>

          <% if @suggestions.count > 2 %>
              <p class='center-block text-center'>
                <%= link_to t('home.more', count: @suggestions.count-2), '#', 'ng-hide' => 'suggestions', 'ng-click' => 'suggestions=true', onclick: 'return false;', class: 'text-bold' %>
                <%= link_to t('home.less'), '#landing-suggest', 'ng-show' => 'suggestions', 'ng-click' => 'suggestions=false', 'du-smooth-scroll' => true, offset: '100', onclick: 'return false;', class: 'text-bold' %>
              </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='landing-invite'>
  <div class="container">
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>
        <h2 class="section-title text-submit"><%= t('home.social_sharing_question') %></h2>
        <p class='section-description'><%= t('home.social_sharing_description') %></p>
        <%= render partial: 'layouts/share_links', locals: {url: root_url, title: t(:formal_project, project: t(:project_name)), description: t('home.social_description', platform: t(:project_name)), hashtag: t(:project_hashtag)} %>
      </div>
    </div>
  </div>
</div>