<div id='preview-screen'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-10 col-sm-offset-1'>
        
        <%= render partial: "#{@class_name.pluralize}/preview", locals: eval("{ #{@class_name}: @object }") %>

        <div class='well well-auth' ng-switch='new_user' ng-init='new_user=false'>
          <%= link_to "<i class='fa fa-close fa-2x'></i>".html_safe, @cancel_path, class: 'auth-cancel' %>
          <p class='auth-title'>Your <%= @class_name %> will be shared once you sign {{new_user ? 'up' : 'in'}}</p>

          <div ng-hide="new_user">
            <%= render partial: 'devise/sessions/form', locals: { cancel_path: @cancel_path, switch_link: link_to("Sign Up.", '#', onclick: 'return false;', 'ng-click' => 'new_user=true') } %>
          </div>

          <div ng-show="new_user">
            <%= render partial: 'devise/registrations/forms/new', locals: { cancel_path: @cancel_path, switch_link: link_to("Sign In.", '#', onclick: 'return false;', 'ng-click' => 'new_user=false') } %>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>