<div id='experience-<%= experience.id %>' class="row row-experience">

  <div class="col-xs-2">
    <div class='center-block text-center'>
      <%= render partial: 'shared/avatar', locals: { user: experience.user, avatar_style: "width:3.75em", font_size: '3em'} %>
      <div class="user-caption">
        <p class='user-name'><%= link_to "#{experience.user.display_name}", user_path(experience.user) %></p>
        <p class='user-title text-default'><%= experience.user.display_organization %></p>
        <p class='user-link'><%= link_to "#{time_ago_in_words(experience.created_at)} ago".titleize, challenge_experience_stage_theme_experience_path(@challenge, experience.experience_stage, experience.theme, experience), class: 'list-link' %></p>
      </div>
    </div>
  </div>

  <div class="col-xs-8">

    <div ng-switch='experience_<%= experience.id %>_discussion' ng-init='experience_<%= experience.id %>_discussion=<%= controller_name == 'experiences' && action_name == 'show' %>'>
      <div class='well well-experience' ng-class="{discussion: experience_<%= experience.id %>_discussion}">
        <% if user_signed_in? && experience.user == current_user %>
          <div ng-switch="experience_<%= experience.id %>_edit" ng-init="experience_<%= experience.id %>_edit=false">
            <div ng-hide="experience_<%= experience.id %>_edit">
              <%= render partial: 'experiences/card/show', locals: { experience: experience } %>
            </div>

            <div ng-show="experience_<%= experience.id %>_edit">
              <%= render partial: 'experiences/card/edit', locals: { experience: experience } %>
            </div>
          </div>
        <% else %>
          <%= render partial: 'experiences/card/show', locals: { experience: experience } %>
        <% end %>
      </div>

      <div class='well well-experience-discussion' ng-show='experience_<%= experience.id %>_discussion'>
        <div class='experience-discussion'>
          <%= render partial: 'experiences/card/discussion', locals: { experience: experience } %>
        </div>
      </div>
    </div>

  </div>

</div>