<%= render partial: 'challenges/header', cache: true %>

<div id='experience-overview'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <%= render partial: 'experiences/header' %>

        <div class='well well-experience'>
          <span class="label label-experience pull-left"><i class='fa fa-comment-o'></i> Experience</span>
          <div class='clearfix'></div>

          <div class='experience-content'>
            <div class='row row-experience-show'>
              <div class="col-sm-4">

                <div class="media media-author">
                  <div class="media-left">
                    <% if @experience.user.avatar.present? %>
                      <%= image_tag(@experience.user.avatar.profile.url, class: 'img-circle', style: 'width:5.5em') %>
                    <% else %>
                      <% if user_signed_in? && current_user == @experience.user %>
                        <span class="fa-stack fa-lg new-user-avatar">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-inverse fa-stack-1x">you</i>
                        </span>
                      <% else %>
                        <span class="fa-stack fa-lg new-user-avatar">
                          <i class="fa fa-circle fa-stack-2x" style='color:<%= @experience.user.color %>'></i>
                          <i class="fa fa-inverse fa-stack-1x"><%= @experience.user.initials %></i>
                        </span>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="media-body">
                    <p class='name'><%= @experience.user.display_name %></p>
                    <p class='title'><%= @experience.user.display_organization %></p>
                  </div>
                </div>

                <div class='row'>
                  <div class='col-xs-7'>

                    <% if user_signed_in? && @experience.user == current_user %>
                      <div class="btn-group btn-block" role="group" style='margin-bottom:10px'>
                        <%= link_to "<i class='fa fa-edit'></i> Edit".html_safe, edit_challenge_experience_stage_theme_experience_path(@challenge, @experience.experience_stage, @experience.theme, @experience), class: 'btn btn-sm btn-rounded btn-warning', style: 'width:50%' %>
                        <%= link_to "<i class='fa fa-trash'></i> Delete".html_safe, challenge_experience_stage_theme_experience_path(@challenge, @experience.experience_stage, @experience.theme, @experience), method: :delete, data: { confirm: "Are you sure you want to delete your experience?" } , class: 'btn btn-sm btn-rounded btn-danger', style: 'width:50%' %>
                      </div>
                    <% end %>
                    
                    <div id='experience-<%= @experience.id %>-like'>
                      <%= render partial: 'experiences/like' %>
                    </div>

                    <div id='experience-<%= @experience.id %>-share'>
                      <%= render partial: 'layouts/share_button', locals: { url: challenge_experience_stage_theme_experience_url(@challenge, @experience.experience_stage, @experience.theme, @experience), title: @challenge.title.html_safe, description: @experience.description.html_safe, hashtag: @challenge.hashtag } %>
                    </div>

                  </div>
                </div>
              </div>

              <div class='col-sm-8'>
                <% if @experience.embed.present? %>
                  <div class='experience-show-embed'><%= @experience.embed.html_safe %></div>
                <% end %>
                
                <p class='experience-show-description'><%= @experience.description.html_safe %></p>

                <% if @experience.link.present? && @experience.embed.blank? %>
                  <p class='experience-show-heading'>Link</p>
                  <p class='experience-show-description'><%= link_to @experience.link.html_safe, @experience.link, target: '_blank' %></p>
                <% end %>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id='experience-comments'>
  <div class='container'>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <%= render partial: 'comments/discussion', locals: { commentable: @experience } %>

      </div>
    </div>
  </div>
</div>

<div id='experience-share'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <p class="section-title-share">Know people who have something to add to this conversation?</p>

        <div class="row">
          <div class='col-sm-10 col-sm-offset-1'>
            <p class='section-description'>More people means more problems solved. Share this challenge!</p>
          </div>
        </div>

        <%= render partial: 'layouts/share_links', locals: { url: challenge_experience_stage_theme_experience_url(@challenge, @experience.experience_stage, @experience.theme, @experience), title: @challenge.title.html_safe, description: @experience.description.html_safe, hashtag: @challenge.hashtag } %>
        
      </div>
    </div>
  </div>
</div>