approaches/card/_show
<div id='approach-<%= approach.id %>' class="well well-approach">
  
  <div class='row row-heading'>
    <div class='col-xs-1'>
      <i class='fa fa-flask text-approach fa-3x'></i>
    </div>

    <div class='col-xs-7'>
      <h4 class='text-approach'><%= link_to approach.title, challenge_approach_stage_approach_idea_approach_path(@challenge, approach.approach_stage, approach.approach_idea, approach), class: 'text-approach' %></h4>
    </div>

    <div class='col-xs-4'>
      <div class='row'>
        <div class='col-sm-5'>
          <div class="media media-author">
            <div class="media-left">
              <%= render partial: 'shared/avatar', locals: { user: approach.user, avatar_style: 'width:2em' } %>
            </div>
            <div class="media-body" style='<%= 'padding-left: 0em' if approach.user.avatar.present? %>'>
              <div class='user-caption' style='<%= 'margin-top: 0.5em' if approach.user.avatar.present? %>'>
                <p class='text-small text-gray'><%= link_to approach.user.display_name.truncate(10), user_path(approach.user) %></p>
              </div>
            </div>
          </div>
        </div>

        <div class='col-sm-7'>
          <ul class='list-actions'>
            <li id='approach-<%= approach.id %>-comments'>
              <%= link_to "<i class='fa fa-comments-o'></i> #{approach.comment_threads.present? ? approach.comment_threads.count : ''}".html_safe, challenge_approach_stage_approach_idea_approach_path(@challenge, approach.approach_stage, approach.approach_idea, approach, { anchor: 'approach-comments' }) %>
            </li>

            <li id='approach-<%= approach.id %>-like'>
              <%= render partial: 'approaches/card/like', locals: { approach: approach } %>
            </li>

            <li class='dropdown'>
              <a id="approach-<%= approach.id %>-other" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" style='right: 0; left: auto;'>
                <i class='fa fa-ellipsis-h'></i>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="approach-<%= approach.id %>-other">
                <% if user_signed_in? && approach.user == current_user %>
                  <li class='dropdown-link'><%= link_to 'Edit', edit_challenge_approach_stage_approach_idea_approach_path(@challenge, approach.approach_stage, approach.approach_idea, approach) %></li>
                  <li class='dropdown-link'><%= link_to 'Delete', challenge_approach_stage_approach_idea_approach_path(@challenge, approach.approach_stage, approach.approach_idea, approach.id), method: :delete, data: { confirm: "Are you sure you want to delete your approach?"} %></li>
                <% else %>
                  <li  class='dropdown-link'><%= link_to 'Flag', '#' %></li>
                <% end %>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class='row row-content'>
    <div class='col-xs-7 col-xs-offset-1'>
      <% if !approach.steps.count.zero? %>
        <div class='approach-steps'>
          <h6 class='text-approach'><%= t('approaches.card._show.header_1') %></h6>
          <p><b class='text-approach'>1.</b> <%= approach.steps.first.description.truncate(140) %></p>
          <% if approach.steps.count > 2 %>
            <p style='margin-left: 15px'><i class='fa fa-ellipsis-v text-approach'></i></p>
            <p><b class='text-approach'><%= approach.steps.count %>.</b> <%= approach.steps.last.description.truncate(140) %></p>
          <% end %>
        </div>
      <% else %>
        <h6 class='text-approach'><%= t('approaches.card._show.header_2') %></h6>
        <p class='approach-description'><%= approach.description.truncate(140) %></p>
      <% end %>
    </div>
    <div class='col-xs-4'>
      <h6 class='text-approach'><%= t('approaches.card._show.header_3') %></h6>
      <p><%= approach.needs %></p>
    </div>
  </div>
</div>