<%= render partial: 'challenges/header', cache: true %>

<div id='experience_stage-overview'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <div class='row'>
          <div class='col-sm-8'>
            <h1 class='text-experience'><%= @experience_stage.title.html_safe if @experience_stage.title %></h1>
            <p class='text-large'><%= @experience_stage.description.html_safe if @experience_stage.description %></p>
              
            <%= link_to "<i class='fa fa-twitter'></i>  ##{@challenge.hashtag.html_safe}".html_safe, "https://twitter.com/hashtag/#{@challenge.hashtag.html_safe}", target: '_blank', class: 'text-default text-large text-normal' %>

            <% if @experience_stage.ends_at %>
              &nbsp; <span class='text-large'>&bull;</span> &nbsp;
              <i class='fa fa-clock-o' style='font-size:1.5em;'></i>&nbsp; <span class='text-large'><%= time_left(@experience_stage) %></span>
            <% end %>

            <% if @featured_experiences.present? %>
              <div class="featured-contributors">
                <h6 class='zero-margin-bottom'><%= t('.featured_contributions') %></h6>
                <% @featured_experiences.each do |experience| %>
                  <%= render partial: 'shared/avatar', locals: { user:  experience.user, circle_font_size: '1.8em', inverse_font_size: '0.76em', avatar_style: 'width:2em;margin-right:0.5em', link_path: challenge_experience_stage_theme_experience_path(@challenge, @experience_stage, experience.theme, experience) } %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class='col-sm-4 text-center'>
            <p class='text-bold text-experience text-center'><%= @experience_stage.incentive.html_safe if @experience_stage.incentive.present? %></p>
            <i class='fa fa-comments hidden-xs'></i>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id='experience_stage-navigation' data-spy="affix" data-offset-top="280" class="affix-top">
  <div class='container'>

    <div class='row'>
      <% @themes.each do |theme| %>
        <div class='col-sm-4 nav-link' href='#theme-<%= theme.id %>' du-smooth-scroll du-scrollspy offset='110'>
          <p class='title'><%= theme.title.html_safe %></p>

          <p class='cta text-lighter text-small'>
            <% if theme.experiences.published.count.zero? %>
              <i class='fa fa-plus'></i> <%= t('.add_first_experience') %>
            <% else %>
              <i class='fa fa-comment'></i> <%= theme.experiences.published.count %>
            <% end %>
          </p>

          <i class='fa fa-3x fa-play fa-rotate-90'></i>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div id='experience_stage-content'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>
      
        <% @themes.each do |theme| %>
          <div id='theme-<%= theme.id %>' class='content-block-xl'>
            <h6 class='text-center'><%= t('.header') %></h6>
            <h2 class='section-title text-experience'><%= theme.title %></h2>

            <div class='row row-count'>
              <div class='col-xs-4 col-xs-offset-4'>
                <h6 class='text-center center-block'>
                  <i class='fa fa-comment fa-3x'></i><br>
                  <span class='text-bolder'><%= pluralize(theme.experiences.published.count, t('.experience')) %></span>
                </h6>
              </div>
              <div class='col-xs-2'>
                <% unless @challenge.stage_number == 4 %>
                  <p class='action text-right text-small'><%= link_to t('.add_yours'), "#theme-#{theme.id}-experience-new", 'ng-click' => "theme_#{theme.id}_draft=true", 'du-smooth-scroll' => true, offset: 120 %></p>
                <% end %>
              </div>
            </div>
            
            <div ng-switch='theme_<%= theme.id %>_experiences' ng-init='theme_<%= theme.id %>_experiences=show_all'>

              <% theme.experiences.published.first(2).each do |experience| %>
                <%= render file: 'experiences/card', cache: true, locals: { experience: experience } %>
              <% end %>

              <% if theme.experiences.published.count > 2 %>
                <div ng-show='theme_<%= theme.id %>_experiences'>
                  <% (theme.experiences.published - theme.experiences.published.first(2)).each do |experience| %>
                    <%= render file: 'experiences/card', cache: true, locals: { experience: experience } %>
                  <% end %>
                </div>
              <% end %>

              <%= render partial: 'experiences/card/new', cache: true, locals: { theme: theme } unless @challenge.stage_number == 4 %>

              <% if theme.experiences.published.count > 2 %>
                <p class='center-block text-center'>
                  <%= link_to t('.more', pluralized_experience_count: pluralize(theme.experiences.published.count-2, t('.more_experience'))), '#', 'ng-hide' => "theme_#{theme.id}_experiences", 'ng-click' => "theme_#{theme.id}_experiences=true", onclick: 'return false;', class: 'text-bold' %>
                  <%= link_to t('.less'), "#theme-#{theme.id}", 'ng-show' => "theme_#{theme.id}_experiences", 'ng-click' => "theme_#{theme.id}_experiences=false", 'du-smooth-scroll' => true, offset: '100', onclick: 'return false;', class: 'text-bold' %>
                </p>
              <% end %>
            </div>

          </div>
        <% end %>

        <h2 class="section-title text-experience"><%= t('.social_sharing_question') %></h2>
        <p class='section-description'><%= t('.social_sharing_description') %></p>

        <%= render partial: 'layouts/share_links', locals: { url: challenge_experience_stage_url(@challenge, @experience_stage), title: @challenge.title.html_safe, description: @challenge.description.html_safe, hashtag: @challenge.hashtag } %>

      </div>
    </div>
  </div>
</div>