approaches/modals/_form

<%= form_for(@approach, url: url) do |f| %>
  <%= f.hidden_field :approach_idea_id %>
  <%= f.hidden_field :published, value: nil, 'ng-value' => 'published' %>

  <%= render partial: 'layouts/error_messages', locals: { model: @approach } %>
  
  <div class='form-group'>
    <%= f.text_field :title, placeholder: "Add a Title",  autofocus: true, class: 'form-control input-lg' %>
  </div>

  <div class='form-group'>
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "Describe how to try this idea. What is your approach? What are the goals? What are the challenges? Why does this approach matter?", class: 'form-control', rows: 5 %>
  </div>

  <div class='row' style='margin-bottom: 30px'>
    <div class='col-sm-3'>
      <div class='form-group'>
        <%= f.label :needs, "Resources Needed" %>
        <%= f.text_area :needs, placeholder: "List any required materials or resources.", class: 'form-control', rows: 9 %>
      </div>
    </div>

    <div class='col-sm-9'>
      <div id='approach-steps' class='form-group'>
        <%= f.label :steps, "How To" %>
        
        <div id='steps'>
          <%= f.fields_for :steps do |step| %>
            <%= render partial: 'approaches/step_fields', locals: { f: step } %>
          <% end %>
        </div>

        <div class='links'>
          <%= link_to_add_association f, :steps do %>
            <div class='media media-step-new'>
              <div class='media-left'>
                <span class="fa-stack">
                  <i class="fa fa-stack-2x fa-circle-thin text-approach"></i>
                  <i class="fa fa-stack-1x fa-plus text-approach"></i>
                </span>
              </div>
              <div class='media-body'>
                <p class='placeholder'>Click to add another step</p>
              </div>
            </div>
          <% end %>
        </div>

        <!-- For handling numbers of index items on removal of step -->
        <script>
          $(function() {
            $('#approach-steps')
              .on('cocoon:before-insert', function(e, insertedItem) {
                $(insertedItem).find('.step-count').html($(".media-step").length+1);
              })
              .on('cocoon:after-remove', function(e, removedItem) {
                $(removedItem).removeClass("media-step");
                _.each($(".media-step"), function(step,index){$(step).find('.step-count').html(index+1)});
              });
          });
        </script>

      </div>
    </div>
  </div>

  <div class='row' style='margin-bottom: 30px' ng-init="published=<%= @approach.published_at? %>">
    <div class='col-sm-8 col-sm-offset-1'>
      <div class='row'>
        <div class='col-sm-4'>
          <%= f.submit 'Save and finish later', class: 'submit-link pull-right', 'ng-click' => "published=false", 'ng-hide' => 'published', style: 'margin-top: 0.5em' %>
        </div>
        <div class='col-sm-4'>
          <%= link_to 'Cancel', cancel_path, data: { confirm: "Are you sure you want to cancel? Any unsaved work will be lost." }, class: 'btn btn-rounded btn-block btn-default' %>
        </div>
        <div class='col-sm-4'>
          <%= f.submit submit_text, class: 'btn btn-rounded btn-block btn-info', 'ng-click' => "published=true" %>
        </div>
      </div>
    </div>
  </div>

  <p class='header-label'><%= t('approaches.modals._form.header') %></p>
  <hr style='border-top: 2px dashed #C3C5C6;margin: 5px 0px 20px'>

  <div class='input-switch' ng-switch='approach_link' ng-init='approach_link=<%= @approach.link.present? %>'>
    <div ng-hide='approach_link' ng-click="approach_link=true">

      <div class='row'>
        <div class='media col-xs-4 col-xs-offset-4'>
          <div class='media-left'>
            <span class="fa-stack">
              <i class="fa fa-stack-2x fa-circle-thin"></i>
              <i class="fa fa-stack-1x fa-plus"></i>
            </span>
          </div>
          <div class='media-body'>
            <span class='help-text'><%= t('approaches.modals._form.add_link') %></span><br>
            <ul class='icon-list list-inline'>
              <li><i class='fa fa-youtube-play fa-3x'></i></li>
              <li><i class='fa fa-image fa-3x'></i></li>
              <li><i class='fa fa-newspaper-o fa-3x'></i></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div ng-show='approach_link' class='form-group'>
      <%= f.text_field :link, placeholder: "Add URL", class: 'form-control' %>
      <span class='help-block'><%= t('approaches.modals._form.instructions') %></span>
    </div>
  </div>

<% end %>