<%= render partial: 'challenges/header', cache: true %>

<div id='approach-overview'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <%= render partial: 'approaches/header' %>

        <div class='well well-approach'>
          <span class="label label-approach pull-left"><i class='fa fa-flask'></i> <%= t('approaches.modals.show.title') %></span>
          <div class='clearfix'></div>

          <div class='approach-content'>
            <div class='row row-approach'>
              <div class="col-sm-4">

                <div class="media media-author">
                  <div class="media-left">
                    <%= render partial: 'shared/avatar', locals: { user: @approach.user, avatar_style: 'width:4.5em'} %>
                  </div>
                  <div class="media-body" style='<%= 'padding-left: 0em' if @approach.user.avatar.present? %>'>
                    <div class='user-caption' style='<%= 'margin-top: 0.5em' if @approach.user.avatar.present? %>'>
                      <p class='user-name'><%= link_to "#{@approach.user.display_name}", user_path(@approach.user) %></p>
                      <p class='user-title text-default'><%= @approach.user.display_organization %></p>
                      <p class='user-link'><%= "#{t('approaches.modals.show.time', :time => time_ago_in_words(@approach.created_at))}".titleize %></p>
                    </div>
                  </div>
                </div>

                <div class='row'>
                  <div class='col-xs-8'>

                    <% if @approach.published_at? %>
                      <% if user_signed_in? && @approach.user == current_user %>
                        <div class="btn-group btn-block" role="group" style='margin-bottom:10px'>
                          <%= link_to "#{t('approaches.modals.show.edit')}".html_safe, edit_challenge_approach_stage_approach_idea_approach_path(@challenge, @approach.approach_stage, @approach.approach_idea, @approach), class: 'btn btn-sm btn-rounded btn-warning', style: 'width:50%' %>
                          <%= link_to "#{t('approaches.modals.show.delete')}".html_safe, challenge_approach_stage_approach_idea_approach_path(@challenge, @approach.approach_stage, @approach.approach_idea, @approach), method: :delete, data: { confirm: "#{t('approaches.modals.show.confirm')}" }, class: 'btn btn-sm btn-rounded btn-danger', style: 'width:50%' %>
                        </div>
                      <% end %>

                      <div id='approach-<%= @approach.id %>-like'>
                          <%= render partial: 'approaches/like' %>
                      </div>

                      <div id='approach-<%= @approach.id %>-discuss' style='margin-bottom:10px'>
                          <%= link_to "#{t('approaches.modals.show.discuss')}".html_safe, "#approach-comments", class: 'btn btn-block btn-fa btn-sm btn-rounded btn-info', "du-smooth-scroll" => true %>
                      </div>

                      <div id='approach-<%= @approach.id %>-share'>
                          <%= render partial: 'layouts/share_button', locals: { url: challenge_approach_stage_approach_idea_approach_url(@challenge, @approach.approach_stage, @approach.approach_idea, @approach), title: @approach.title.html_safe, description: @approach.description.html_safe, hashtag: @challenge.hashtag } %>
                      </div>
                    <% else %>
                      <%= render partial: 'shared/draft', locals: { edit_path: edit_challenge_approach_stage_approach_idea_approach_path(@challenge, @approach.approach_stage, @approach.approach_idea, @approach), delete_path: challenge_approach_stage_approach_idea_approach_path(@challenge, @approach.approach_stage, @approach.approach_idea, @approach) } %>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class='col-sm-8'>
                <h1 class='text-approach' style='margin:0em 0em 0.25em'><%= @approach.title.html_safe %></h1>
                
                <% if @approach.embed.present? %>
                  <div class='content-block'>
                    <%= @approach.embed.html_safe %>
                  </div>
                <% end %>
                
                <div class='content-block'>
                  <p><%= @approach.description.html_safe %></p>
                </div>

                <% if @approach.needs.present? %>
                  <div class='content-block'>
                    <p class='text-approach text-large text-bold text-uppercase'><%= t('approaches.modals.show.needs') %></p>
                    <p><%= @approach.needs.html_safe %></p>
                  </div>
                <% end %>

                <% if @approach.steps.present? %>
                  <div class='content-block'>
                    <p class='text-approach text-large text-bold text-uppercase'><%= t('approaches.modals.show.how') %></p>
                    <% @approach.steps.each_with_index do |step, index| %>
                      <div class='media media-step'>
                        <div class='media-left'>
                          <span class="fa-stack">
                            <i class="fa fa-stack-2x fa-circle-thin text-approach"></i>
                            <i class="fa fa-stack-1x text-approach"><%= index+1 %></i>
                          </span>
                        </div>
                        <div class='media-body'>
                          <p><%= step.description %></p>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>

                <% if @approach.link.present? && @approach.embed.blank? %>
                  <div class='content-block'>
                    <p class='text-approach text-large text-bold text-uppercase'><%= t('approaches.modals.show.link') %></p>
                    <p><%= link_to @approach.link.html_safe, @approach.link, target: '_blank' %></p>
                  </div>
                <% end %>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id='approach-comments'>
  <div class='container'>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <%= render partial: 'comments/discussion', locals: { commentable: @approach } %>

      </div>
    </div>
  </div>
</div>

<div id='approach-share'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <h2 class='section-title text-submit'><%= t('approaches.modals.show.social_sharing_question') %></h2>
        <p class='section-description'><%= t('approaches.modals.show.social_sharing_description') %></p>
        
        <%= render partial: 'layouts/share_links', locals: { url: challenge_approach_stage_approach_idea_approach_url(@challenge, @approach.approach_stage, @approach.approach_idea, @approach), title: @approach.title.html_safe, description: @approach.description.html_safe, hashtag: @challenge.hashtag } %>
        
      </div>
    </div>
  </div>
</div>