<div class="challenge-header <%= current_page?(challenge_path(@challenge)) || @solution_stage ? 'splash' : controller_name %>">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="challenge-nav" style="<%= challenge_nav_margin(@challenge) %>">
          <% Challenge::STAGES.each_with_index do |stage, index| %>

            <%= link_to eval("challenge_#{stage[:name]}_stage_path(@challenge, @challenge.#{stage[:name]}_stage)") do %>
              <span class="badge badge-<%= stage[:name] %> <%= 'active' if @challenge.stage_number >= stage[:number] %> <%= 'selected' if eval("params[:#{stage[:name]}_stage_id] || @#{stage[:name]}_stage") %>">

                <% if stage[:name] == @challenge.active_stage %>
                  <span class="fa-stack">
                    <i class="fa fa-stack-2x fa-circle text-<%= eval("params[:#{stage[:name]}_stage_id] || @#{stage[:name]}_stage") ? 'white' : stage[:name] %>"></i>
                    <i class="fa fa-stack-1x <%= stage[:icon] %> text-<%= eval("params[:#{stage[:name]}_stage_id] || @#{stage[:name]}_stage") ? stage[:name] : 'white' %>"></i>
                  </span>
                <% else %>
                  <i class="fa <%= stage[:icon] %> text-<%= eval("params[:#{stage[:name]}_stage_id] || @#{stage[:name]}_stage") ? 'white' : stage[:name] %>"></i>
                <% end %>

                <%= '<i class="fa fa-check"></i>'.html_safe if @challenge.stage_number > stage[:number] %>

                <span class="headline text-<%= stage[:name] if @challenge.stage_number == stage[:number] %>"><%= stage[:headline] %></span>
              </span>
            <% end %>
            <%= '<i class="fa fa-play"></i>'.html_safe unless index+1 == Challenge::STAGES.length %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>