<%= render partial: 'challenges/header', cache: true %>

<div class="challenge-overview" style="background-image:url('<%= @challenge.banner.present? ? @challenge.banner.url.html_safe : asset_path('bg.png') %>')">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-sm-7">
            <h1 class="challenge-headline"><%= @challenge.headline.html_safe %></h1>
            <%= link_to "https://twitter.com/hashtag/#{@challenge.hashtag.html_safe}", target: '_blank', class: 'text-default text-large' do %>
              <i class="fa fa-twitter" style='font-size:1.5em'></i> <%= "##{@challenge.hashtag.html_safe}" %>
          <% end %>
          </div>
          <div class="col-sm-5">
            <%= video_embed(@challenge.video_url) %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="challenge-description">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <%= @challenge.description.html_safe if @challenge.description.present? %>
      </div>
    </div>
  </div>
</div>

<div class="challenge-details">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <!-- Experience Process Bubbles: START -->
        b
        <!-- Experience Process Bubbles: END -->


        <div class="row">
          <div class="col-sm-4">
            <h3 class="text-bold"><%= t('.challenge') %></h3>
            <p><%= @challenge.background.html_safe %></p>
          </div>
          <div class="col-sm-4">
            <h3 class="text-bold"><%= t('.goal') %></h3>
            <p><%= @challenge.outcome.html_safe %></p>
          </div>
          <div class="col-sm-4">
            <h3 class="text-bold"><%= t('.role') %></h3>
            <p><%= @challenge.help.html_safe %></p>
          </div>
        </div>

        <div class="text-center center-block" style='margin:3em 0em -2em'>
          <%= link_to t('.get_started'), challenge_active_stage_path(@challenge), class: 'btn btn-lg btn-longer btn-rounded btn-info' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="challenge-featured">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="text-center"><%= t('.featured', challenge: @challenge.title) %></h2>

        <div class="row">
          <% @challenge.featured_contributions.each do |featured| %>
            <%= render file: "#{featured.class.name.pluralize.downcase}/card", cache: true, locals: eval("{ #{featured.class.name.downcase}: featured }") %>
          <% end %>
        </div>

        <div class="text-center center-block">
          <%= link_to t('.more'), challenge_active_stage_path(@challenge), class: 'text-bold' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="challenge-panel">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <h2 class="text-center"><%= t('.guides') %></h2>

          <div class="col-sm-10 col-sm-offset-1">
            <p class="section-description"><%= @challenge.panel.about.html_safe %></p>
          </div>
        </div>

        <% if @challenge.panelists.count > 4 %>
          <div class="row row-panelists" style='margin-bottom:2em'>
            <% @challenge.panelists.first(4).each do |panelist| %>
              <div class="col-xs-6 col-sm-3">
                <%= link_to image_tag(panelist.avatar.profile.url, class: 'img-circle', style: 'width:50%'), '#', data: { toggle: 'modal', target: "#panelist-#{panelist.id}" } %>
                <div class="user-caption">
                  <p class="user-name"><%= link_to panelist.name, '#', data: { toggle: 'modal', target: "#panelist-#{panelist.id}" }, class: 'text-default text-bolder' %></p>
                  <p class="user-title"><%= panelist.title %></p>
                  <p class="user-title"><%= panelist.organization %></p>
                </div>
              </div>
            <% end %>
          </div>

          <div class="row row-panelists">
            <% (@challenge.panelists - @challenge.panelists.first(4)).each do |panelist| %>
              <div class="col-xs-6 col-sm-3">
                <%= link_to image_tag(panelist.avatar.profile.url, class: 'img-circle', style: 'width:50%'), '#', data: { toggle: 'modal', target: "#panelist-#{panelist.id}" } %>
                <div class="user-caption">
                  <p class="user-name"><%= link_to panelist.name, '#', data: { toggle: 'modal', target: "#panelist-#{panelist.id}" }, class: 'text-default text-bolder' %></p>
                  <p class="user-title"><%= panelist.title %></p>
                  <p class="user-title"><%= panelist.organization %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="row row-panelists">
            <% @challenge.panelists.each do |panelist| %>
              <div class="col-xs-6 col-sm-3">
                <%= link_to image_tag(panelist.avatar.profile.url, class: 'img-circle', style: 'width:50%'), '#', data: { toggle: 'modal', target: "#panelist-#{panelist.id}" } %>
                <div class="user-caption">
                  <p class="user-name"><%= link_to panelist.name, '#', data: { toggle: 'modal', target: "#panelist-#{panelist.id}" }, class: 'text-default text-bolder' %></p>
                  <p class="user-title"><%= panelist.title %></p>
                  <p class="user-title"><%= panelist.organization %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <% @challenge.panelists.each do |panelist| %>
          <div class="modal fade" id="<%= "panelist-#{panelist.id}" %>">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <p class="panelist-title"><%= t('.about_panelist', panelist: panelist.name) %></p>
                </div>
                <div class="modal-body">
                  <p class="panelist-bio"><%= panelist.bio.present? ? panelist.bio.html_safe : t('.empty_bio') %></p>
                </div>
                <div class="modal-footer">
                  <div class="text-center"><%= link_to t('.view_panelist_profile'), user_path(panelist) %></div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="challenge-invite">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="section-title text-submit" style='margin-bottom:10px'><%= t('.social_sharing_question') %></h2>
        <p class="section-description"><%= t('.social_sharing_description') %></p>
        <%= render partial: 'layouts/share_links', locals: { url: challenge_url(@challenge), title: @challenge.title.html_safe, description: @challenge.description.html_safe, hashtag: @challenge.hashtag } %>
      </div>
    </div>
  </div>
</div>