
<%= render partial: 'challenges/header', cache: true %>

<div id='challenge-overview'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <div class='row'>
          <div class="col-sm-7">
            <h1 class='challenge-headline'><%= @challenge.headline.html_safe %></h1>

            <p class="challenge-hashtag"><i class='fa fa-twitter'></i> <%= link_to "##{@challenge.hashtag.html_safe}", "https://twitter.com/hashtag/#{@challenge.hashtag.html_safe}", target: '_blank' %></p>
          </div>
          <div class="col-sm-5">
            <%= video_embed(@challenge.video_url) %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id='challenge-description'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <%= @challenge.description.html_safe if @challenge.description.present? %>

      </div>
    </div>
  </div>
</div>

<div id='challenge-details'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <!-- Experience Process Bubbles: START -->
        <div id='challenge-process' class='row'>
          <% if @challenge.incentive.present? %>
            <div class='col-sm-9 col-sm-offset-3'>
              <p class='text-center text-approach'><%= @challenge.incentive.html_safe %></p>
            </div>
          <% end %>

          <% Challenge::STAGES.each_with_index do |stage, index| %>
            <div class="col-xs-6 col-sm-3" style='margin-bottom:15px'>
              <div class='stage-recap'>
                <%= link_to eval("challenge_#{stage[:name]}_stage_path(@challenge, @challenge.#{stage[:name]}_stage)") do %>
                  <% if @challenge.stage_number == stage[:number] %>
                      <span class="fa-stack challenge-fa-bubble text-<%= stage[:name] %> active">
                        <i class="fa fa-stack-2x fa-circle"></i>
                        <i class="fa fa-stack-1x fa-inverse <%= stage[:icon] %>"></i>
                      </span>
                  <% else %>
                    <% if @challenge.stage_number > stage[:number] %>
                      <span class="fa-stack challenge-fa-bubble text-<%= stage[:name] %> completed">
                        <i class="fa fa-stack-2x fa-circle-thin"></i>
                        <i class="fa fa-stack-1x text-<%= stage[:name] %> <%= stage[:icon] %>"></i>
                      </span>
                    <% else %>
                      <span class="fa-stack challenge-fa-bubble text-<%= stage[:name] %>-light pending">
                        <i class="fa fa-stack-2x fa-circle-thin"></i>
                        <i class="fa fa-stack-1x text-<%= stage[:name] %>-light <%= stage[:icon] %>"></i>
                      </span>
                    <% end %>
                  <% end %>

                  <%= content_tag(:i, '', class: 'fa fa-play', style: ('color: transparent' if stage[:name] == 'solution') ) %>
                  
                  <div class='clearfix'></div>
                  <div class="caption">
                    <h4 class='text-black'>
                      <% if @challenge.stage_number > stage[:number] %>
                        <i class='fa icon-check'></i> 
                        <%= pluralize(eval("@challenge.#{stage[:name]}_stage.#{stage[:name].pluralize}.published.count"), stage[:name]).titleize %> <%= stage[:action].titleize %>
                      <% else %>
                        <%= stage[:headline] %>
                      <% end %>
                    </h4>
                    <p class='description'><%= stage[:description] %></p>
                  </div>
                <% end %>
              </div>

              <div class='stage-cta'>
                <% if @challenge.stage_number == stage[:number] %>
                  <%= link_to "#{t('challenges.show.cta')}", challenge_active_stage_path(@challenge), class: 'btn btn-info btn-rounded text-small' unless stage[:name] == 'solution' %>
                <% else %>
                  <% if @challenge.stage_number > stage[:number] %>
                    <p class='text-small'><%= link_to "#{t('challenges.show.completed')}", eval("challenge_#{stage[:name]}_stage_path(@challenge, @challenge.#{stage[:name]}_stage)"), class: "completed text-default" %></p>
                  <% else %>
                    <p class='text-small pending'><%= t('challenges.show.active') %></p>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <!-- Experience Process Bubbles: END -->


        <div class="row">
          <div class="col-sm-4">
            <h3 class='text-bold'><%= t('challenges.show.challenge') %></h3>
            <p><%= @challenge.background.html_safe %></p>
          </div>
          <div class="col-sm-4">
            <h3 class='text-bold'><%= t('challenges.show.goal') %></h3>
            <p><%= @challenge.outcome.html_safe %></p>
          </div>
          <div class="col-sm-4">
            <h3 class='text-bold'><%= t('challenges.show.role') %></h3>
            <p><%= @challenge.help.html_safe %></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id='challenge-panel'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <div class="row">
          <h2 class="text-center"><%= t('challenges.show.guides') %></h2>
          
          <div class='col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2'>
            <p class='section-description'><%= @challenge.panel.about.html_safe %></p>
          </div>
        </div>

        <div class='row row-panelists'>
          <% @challenge.panelists.each do |panelist| %>
            <div class="col-xs-6 col-sm-3">
              <%= link_to image_tag(panelist.avatar.profile.url, class: 'img-circle', style: 'width:50%'), '#', data: { toggle: 'modal', target: "#panelist-#{panelist.id}" } %>
              <div class="user-caption">
                <p class='user-name'><%= link_to panelist.name, "#", data: { toggle: 'modal', target: "#panelist-#{panelist.id}" }, class: 'text-default text-bolder' %></p>
                <p class='user-title'><%= panelist.title %></p>
                <p class='user-title'><%= panelist.organization %></p>
              </div>
            </div>
          <% end %>
        </div>

        <% @challenge.panelists.each do |panelist| %>
          <div class="modal fade" id="<%= "panelist-#{panelist.id}" %>">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <p class='panelist-title'><%= t('challenges.show.about', :name => panelist.name) %></p>
                </div>
                <div class='modal-body'>
                  <p class='panelist-bio'><%= panelist.bio.present? ? panelist.bio.html_safe : "#{t('challenges.show.empty')}" %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div id='challenge-featured'>
  <div class="container">
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <h2 class="text-center"> <%= @challenge.cta %> <%= link_to "Get Involved", challenge_active_stage_path(@challenge), class: 'btn btn-md btn-rounded btn-info' %></h2>

        <h2 class="text-center"><%= t('challenges.show.featured', :title => @challenge.title) %></h2>

        <div class='row'>
          <% @challenge.featured_contributions.each do |featured| %>
            <%= render file: "#{featured.class.name.pluralize.downcase}/card", cache: true, locals: eval("{ #{featured.class.name.downcase}: featured }") %>
          <% end %>
        </div>

        <div class='row'>
          <div class='col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5'>
            <%= link_to "#{t('challenges.show.more')}", challenge_active_stage_path(@challenge), class: 'text-bold' %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id='challenge-invite'>
  <div class="container">
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <h2 class="section-title text-submit" style='margin-bottom:10px'><%= t('challenges.show.social_sharing_question') %></h2>
        <p class='section-description'><%= t('challenges.show.social_sharing_description') %></p>

        <%= render partial: 'layouts/share_links', locals: { url: challenge_url(@challenge), title: @challenge.title.html_safe, description: @challenge.description.html_safe, hashtag: @challenge.hashtag } %>
        
      </div>
    </div>
  </div>
</div>