<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :setting, value: params[:setting] %>
  <%= devise_error_messages! %>

  <div class='form-group'>
    <%= f.label :comment_posted, "For comments that are left on posts which I've authored" %>
    <%= f.radio_button :comment_posted, 'true' %> Yes
    <%= f.radio_button :comment_posted, 'false' %> No
  </div>

  <div class='form-group'>
    <%= f.label :comment_replied, "For comments that are in reply to a comment that I've left" %>
    <%= f.radio_button :comment_replied, 'true' %> Yes
    <%= f.radio_button :comment_replied, 'false' %> No
  </div>

  <div class='form-group'>
    <%= f.label :comment_followed, "For comments that are part of a discussion that I'm participating in" %>
    <%= f.radio_button :comment_followed, 'true' %> Yes
    <%= f.radio_button :comment_followed, 'false' %> No
  </div>

  <hr>

  <div class='text-center center-block'><%= f.submit "Update", class: 'btn btn-submit btn-rounded btn-longer' %></div>
<% end %>