<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :setting, value: params[:setting] %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :display_name, t('devise.registrations.forms._profile.display_name') %>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <%= f.text_field :display_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :twitter %>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-at"></i></span>
      <%= f.text_field :twitter, class: 'form-control', maxlength: '16' %>
    </div>
  </div>

  <%= render partial: 'devise/registrations/forms/avatar', locals: { f: f } %>

  <hr>

  <div class="form-group <%= 'hidden' if @setting == 'onboard' %>" ng-init="role='<%= resource.role %>'">
    <%= f.label :role, t('devise.registrations.forms._profile.which_role') %>
    <%= f.select :role, options_for_select(User::ROLES, (resource.role if resource.role)), { prompt: t('devise.registrations.forms._profile.prompt') }, class: 'form-control', 'ng-model' => 'role' %>
  </div>

  <div class="form-group" ng-show="role == 'SEA Staff'">
    <%= f.label :state_ids, t('devise.registrations.forms._profile.which_sea') %>
    <select id="user_state_ids" name='user[state_ids][]' class="form-control" multiple="true">
      <% if resource.states.present? %>
        <% resource.states.each do |state| %>
          <option selected='selected' value='<%= state.id %>'>
            <%= "#{state.name} (#{state.mail_state})" %>
          </option>
        <% end %>
      <% end %>
    </select>
  </div>

  <div ng-init="other_lea=<%= resource.role == 'LEA Staff' && resource.districts.empty? && resource.organization.present? %>"></div>
  <div class="form-group" ng-show="role == 'LEA Staff'" ng-class="{ 'zero-margin-bottom' : other_lea }">
    <label for='user_district_ids'>
      <%= t('devise.registrations.forms._profile.which_districts') %>
      <small>
        <a href='#' onclick="return false;" ng-hide='other_lea' ng-click='otherLEA(true)'><%= t('devise.registrations.forms._profile.cant_find_district') %></a>
        <a href='#' onclick="return false;" ng-show='other_lea' ng-click='otherLEA(false)'><%= t('devise.registrations.forms._profile.prepopulated_district_list') %></a>
      </small>
    </label>

    <select ng-hide='other_lea' id="user_district_ids" name='user[district_ids][]' class="form-control" multiple='true'>
      <% if resource.districts.present? %>
        <% resource.districts.each do |district| %>
          <option selected='selected' value='<%= district.id %>'>
            <%= "#{district.name} (#{district.location_city}, #{district.location_state})" %>
          </option>
        <% end %>
      <% end %>
    </select>
  </div>

  <div ng-init="other_school=<%= resource.is_teacher? && resource.schools.empty? && resource.organization.present? %>"></div>
  <div class="form-group" ng-show="role == 'Current Teacher' || role == 'Teacher Leader' || role == 'Instructional Coach' || role == 'School Leader'" ng-class="{ 'zero-margin-bottom' : other_school }">
    <label for='user_school_ids'>
      <%= t('devise.registrations.forms._profile.which_schools') %>
      <small>
        <a href='#' onclick='return false;' ng-hide='other_school' ng-click="otherSchool(true)"><%= t('devise.registrations.forms._profile.cant_find_school') %></a>
        <a href='#' onclick='return false;' ng-show='other_school' ng-click="otherSchool(false)"><%= t('devise.registrations.forms._profile.prepopulated_school_list') %></a>
      </small>
    </label>

    <select ng-hide='other_school' id="user_school_ids" name='user[school_ids][]' class="form-control" multiple="true">
      <% if resource.schools.present? %>
        <% resource.schools.each do |school| %>
          <option selected='selected' value='<%= school.id %>'><%= "#{school.name} (#{school.location_city}, #{school.location_state})" %></option>
        <% end %>
      <% end %>
    </select>
  </div>

  <div class="form-group" ng-show="role == 'Other' || role == 'Pre-Service Teacher' || (role == 'LEA Staff' && other_lea) || ((role == 'Current Teacher' || role == 'Teacher Leader' || role == 'Instructional Coach' || role == 'School Leader') && other_school) && role != 'SEA Staff'" ng-init="organization='<%= resource.organization %>'">
    <%= f.label :organization, t('devise.registrations.forms._profile.which_organization'), 'ng-show' => 'role == "Other"' %>
    <%= f.label :organization, t('devise.registrations.forms._profile.which_institution'), 'ng-show' => 'role == "Pre-Service Teacher"' %>
    <%= f.text_field :organization, class: 'form-control', placeholder: "{{ role != 'Other' && role != 'Pre-Service Teacher' ? other_placeholder : ''}}", 'ng-model' => 'organization' %>
  </div>

  <div class="form-group" ng-show='role && role != "Pre-Service Teacher"' ng-init="title='<%= resource.title %>'">
    <label for='user_title' ng-show="role == 'LEA Staff' || role == 'SEA Staff' || role == 'Other'"><%= t('devise.registrations.forms._profile.what_title') %></label>
    <label for='user_title' ng-show="role == 'Current Teacher' || role == 'Teacher Leader' || role == 'Instructional Coach' || role == 'School Leader'"><%= t('devise.registrations.forms._profile.which_grades_taught') %></label>
    <%= f.text_field :title, class: 'form-control', 'ng-model' => 'title' %>
  </div>

  <div class="form-group">
    <%= f.label :bio, t('devise.registrations.forms._profile.interests_and_expertise') %>
    <%= f.text_area :bio, class: 'form-control', placeholder: t('devise.registrations.forms._profile.learn_more_about_you'), rows: 3 %>
  </div>

  <div class="text-center center-block"><%= f.submit t('devise.registrations.forms._profile.submit'), class: 'btn btn-info btn-rounded btn-longer' %></div>
<% end %>
