<!DOCTYPE html>
<html>
  <head>
    <title><%= t('.header') %></title>

    <style>
      body {
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 1.4;
      }

      a {
        color: blue;
      }

      .container {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <% if opted_out? %>
        <p><%= t('.unsubscribed') %></p>
        <p><%= link_to t('.resubscribe'), subscribe_url %></p>
      <% else %>
        <p><%= t('.subscribed') %></p>
        <p><%= link_to t('.unsubscribe'), unsubscribe_url %></p>
      <% end %>
    </div>
  </body>
</html>
