<%= render partial: 'challenges/header', cache: true %>

<div id='idea_stage-overview'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <div class='row'>
          <div class='col-sm-9'>
            <h1 class='text-idea'><%= @challenge.stage_number > 2 ? 'Get some ideas.' : @idea_stage.title.html_safe %></h1>
            <p class='text-large'>
              <%= @challenge.stage_number > 2 ? "Look at the ideas other educators have shared." : @idea_stage.description.html_safe %>
              <%= "Then, #{link_to "get involved in Stage #{@challenge.stage_number} >", challenge_active_stage_path(@challenge)}".html_safe if @challenge.stage_number > 2 && @challenge.stage_number != 4 %>
            </p>  

            <%= link_to "<i class='fa fa-twitter'></i>  ##{@challenge.hashtag.html_safe}".html_safe, "https://twitter.com/hashtag/#{@challenge.hashtag.html_safe}", target: '_blank', class: 'text-default text-large text-normal' %>
          </div>
          <div class='col-sm-3 text-center'>
            <i class='fa fa-lightbulb-o hidden-xs'></i>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id='idea_stage-navigation' data-spy="affix" data-offset-top="375" class="affix-top">
  <div class='container'>

    <div class='row'>
      <% @problem_statements.each do |problem_statement| %>
        <div class='col-sm-4 nav-link' href='#problem_statement-<%= problem_statement.id %>' du-smooth-scroll du-scrollspy offset='140'>
          <p class='title text-large'><%= problem_statement.title.html_safe %></p>

          <p class='cta text-lighter text-small'>
            <% if problem_statement.ideas.published.count.zero? %>
              <i class='fa fa-plus'></i> Add the first idea
            <% else %>
              <i class='fa fa-lightbulb-o'></i> <%= problem_statement.ideas.published.count %>
            <% end %>
          </p>

          <i class='fa fa-3x fa-play fa-rotate-90'></i>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div id='idea_stage-content' ng-controller='IdeaStageCtrl'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <% @problem_statements.each do |problem_statement| %>
          <div id='problem_statement-<%= problem_statement.id %>' class='content-block-xl'>
            <h6 class='text-center'>Problem Statement</h6>
            <h2 class='section-title text-idea'><%= problem_statement.title %></h2>

            <div class='row'>
              <div class='col-md-8 col-md-offset-2'>
                <p><%= problem_statement.description %></p>
              </div>
            </div>

            <div class='row row-count'>
              <div class='col-xs-3'>
                <ul class='action text-left text-small list-inline'>
                  <!-- <li><a>Popular</a></li>
                  <li><a>Latest</a></li> -->
                </ul>
              </div>
              <div class='col-xs-6'>
                <h6 class='text-center center-block'>
                  <i class='fa fa-lightbulb-o fa-3x'></i><br>
                  <span><%= pluralize(problem_statement.ideas.published.count, 'idea') %></span>
                </h6>
              </div>
              <div class='col-xs-3'>
                <% unless @challenge.stage_number > 2 %>
                  <p class='action text-right text-small'><%= link_to '+ Add yours', new_challenge_idea_stage_problem_statement_idea_path(@challenge, @idea_stage, problem_statement), class: 'pull-right' %></p>
                <% end %>
              </div>
            </div>
            
            <div ng-switch='problem_statement_<%= problem_statement.id %>_ideas' ng-init='problem_statement_<%= problem_statement.id %>_ideas=show_all'>
              
              <div class='row'>
                <% problem_statement.ideas.published.first(5).each do |idea| %>
                  <%= render file: 'ideas/card', cache: true, locals: { idea: idea, columns: 'col-md-4 col-sm-6' } %>
                <% end %>

                <% if problem_statement.ideas.published.count > 5 %>
                  <div ng-show='problem_statement_<%= problem_statement.id %>_ideas'>
                    <% (problem_statement.ideas.published - problem_statement.ideas.published.first(5)).each do |idea| %>
                      <%= render file: 'ideas/card', cache: true, locals: { idea: idea, columns: 'col-md-4 col-sm-6' } %>
                    <% end %>
                  </div>
                <% end %>

                <%= render partial: 'ideas/card/new', cache: true, locals: { problem_statement: problem_statement } unless @challenge.stage_number == 4 %>
              </div>

              <% if problem_statement.ideas.published.count > 5 %>
                <p class='center-block text-center'>
                  <%= link_to "Show #{problem_statement.ideas.published.count-5} More Ideas", '#', "ng-hide" => "problem_statement_#{problem_statement.id}_ideas", "ng-click" => "problem_statement_#{problem_statement.id}_ideas=true", onclick: 'return false;', class: 'text-bold' %>

                  <%= link_to "Show Less", "#problem_statement-#{problem_statement.id}", "ng-show" => "problem_statement_#{problem_statement.id}_ideas", "ng-click" => "problem_statement_#{problem_statement.id}_ideas=false", "du-smooth-scroll" => true, offset: '140', onclick: 'return false;', class: 'text-bold' %>
                </p>
              <% end %>
            </div>

          </div>
        <% end %>

        <h2 class='section-title text-idea'>Know people who have something to add to this conversation?</h2>
        <p class='section-description'>More people means more problems solved. Share this challenge!</p>

        <%= render partial: 'layouts/share_links', locals: { url: challenge_idea_stage_url(@challenge, @idea_stage), title: @challenge.title.html_safe, description: @challenge.description.html_safe, hashtag: @challenge.hashtag } %>

      </div>
    </div>
  </div>
</div>