<nav id="top-nav" class="navbar navbar-default navbar-center" role="navigation">
  <div class='container'>

    <div class="navbar-header">
      <button id='navbar-hamburger' type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-nav">
        <span class="sr-only"><%= t('layouts._header.header') %></span>
        <i class='fa fa-inverse fa-bars'></i>
      </button>
      <%= link_to I18n.t(:project_name), root_path, class: 'navbar-brand' %>
      
      <!-- Custom link for new designs with challenge links in navigation -->
      <div class='navbar-center-link hidden-xs'>
        <%= link_to(@challenge.title.ellipsisize(15,15), challenge_path(@challenge), class: 'text-lighter') if @challenge %>
      </div>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id='collapse-nav'>
      
      <ul class="nav navbar-nav">
        <li><%= link_to t('layouts._header.about'), about_path, class: 'text-lighter' %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li id="user" class="dropdown pull-right">
            <a href="#" class="dropdown-toggle user" data-toggle="dropdown">
              <span style='padding:0px 15px;position:relative;top:1px'><%= current_user.first_name %></span>
              <% if current_user.avatar.present? %>
                <%= image_tag(current_user.avatar.thumb.url, size: '30x30', class: 'img-circle') %>
              <% else %>
                <span class="fa-stack header-user-avatar">
                  <i class="fa fa-stack-2x fa-circle"></i>
                  <i class="fa fa-stack-1x fa-inverse">you</i>
                </span>
              <% end %>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to user_path(current_user) do %>
                  <i class='fa fa-user'></i> <%= t('layouts._header.profile') %>
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_registration_path do %>
                  <i class='fa fa-gears'></i> <%= t('layouts._header.settings') %>
                <% end %>
              </li>
              <li class='divider'></li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class='fa fa-sign-out'></i><%= t('layouts._header.sign_out') %>
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t('layouts._header.sign_in'), new_user_session_path %></li>
          <li><%= link_to t('layouts._header.sign_up'), new_user_registration_path, class: 'btn btn-sm btn-info btn-rounded' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
